/* purgecss start ignore */
@tailwind base;
@tailwind components;

/* purgecss end ignore */

@tailwind utilities;

.logoSpacing {
  margin-top: -0.36rem;
  margin-bottom: 0.36rem;
}

.heroBanner {
  height: 90vh;
}

@media screen and (max-width: 415px) {
  .heroBanner {
    height: 40vh;
  }
}
